header {
  background-image: url(https://www.publicdomainpictures.net/pictures/160000/velka/american-flag-1459201553ppe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  align-content: stretch;
}
#Page-Title {
  padding: 0%;
  text-align: center;
  font-size: 80px;
  color: black;
}
#presidents_list {
  display: grid;
  grid-auto-columns: auto;
  background-image: url(https://cdn.cnn.com/cnnnext/dam/assets/130306205822-the-bill-of-rights-horizontal-large-gallery.jpg);
  background-size: cover;
}
.president {
  text-align: center;
  padding: 5px;
  word-wrap: normal;
}
img {
  width: 50%;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 10fr);
  grid-gap: 3em;
  max-width: auto;
  text-align: center;
  margin-left: 3em;
  margin-bottom: 5em;
}

p {
  font-size: 25px;
  color: black;
  margin: 30px;
  background-color: #f3e4bc;
  border: 1px solid black;
  opacity: 0.8;
}
